:root {
    --azul: rgb(22, 36, 233);
}
.main{
    min-height: 135vh;
    position: relative;
    color: white;
    text-align: justify;
}
.titulo{
    width: 350px;
    position: relative;
    top: 100px;
    left: 40%;
}
.contenido{
    position: relative;
    width: 750px;
    height: 500px;
    margin: 0px 80px;
    top: 130px;
    left: 16%;
    font-size: 17px;
}
p{
    margin: 15px;
}
.planes{
    display: flex;
}
.planes a{
    background-color: var(--azul);
    text-decoration: none;
    border-radius: 10px;
    margin-left: 40px;
    font-size: 30px;
    width: 100px;
    color: white;
    display:inline-block;
    text-align: center;
    animation: bgcolor infinite 4s;
}
.contenido img{
    width: 100%;
    margin-top: 30px;
    box-shadow: 5px 5px 15px var(--azul);
}