:root {
  --azul: rgb(22, 36, 233);
}
.main {
  min-height: 135vh;
  position: relative;
  color: white;
  text-align: justify;
}
.titulo {
  width: 400px;
  position: relative;
  top: 100px;
  left: 40%;
}
.contenido {
  position: relative;
  width: 750px;
  height: 500px;
  margin: 0px 80px;
  top: 150px;
  left: 16%;
  font-size: 17px;
}
.mision,.vision {
    background-color: var(--azul);
    border-radius: 10px;
    padding: 25px;
    width: 326px;
    animation: bgcolor infinite 8s;
}
.mision {
  float: left;
}
.vision {
  float: right;
  text-align: right;
}
.contenido img{
    margin: 20px 0;
    width: 100%;
    box-shadow: 5px 5px 15px var(--azul);
}
