:root {
  --azul: rgb(22, 36, 233);
}
.main {
  min-height: 180vh;
  position: relative;
  color: white;
  text-align: justify;
}
.titulo {
  width: 350px;
  position: relative;
  top: 100px;
  left: 43%;
}
p {
  margin: 15px;
}
.contenido {
  position: relative;
  width: 600px;
  height: 500px;
  margin: 0px 80px;
  top: 130px;
  left: 20%;
  font-size: 17px;
}
.contacto {
  background-color: var(--azul);
  padding: 10px;
  border-radius: 10px;
}
.contacto div {
  padding: 5px 0;
}
.asunto,
.mensaje,
.nombre-email {
  display: grid;
}
.info {
  width: auto;
  height: auto;
  padding: 10px;
  margin: 20px 0;
  border-radius: 10px;
  position: relative;
  background-color: var(--azul);
  display: none;
}
.info label {
    margin: auto;
}
.info div {
  display: flex;
}
input, textarea{
    margin: 8px;
    box-sizing: border-box;
}
input:focus, textarea:focus, button:hover{
    border: 1px solid white;
    background-color: var(--azul);
    color: white;
    transition: all 600ms ease;
}
:focus::placeholder{
    color: white;
    transition: all 600ms ease;
}
input, button, textarea{
    border: 0;
    border-radius: 4px;
    background-color: white;
    color: var(--azul);
    font-family: "Oswald", sans-serif;
    font-size: 17px;
}
::placeholder{
    padding-left: 5px;
    font-size: 17px;
    color: var(--azul);
    font-family: "Oswald", sans-serif;
}
button{
    margin-left: 10px;
    padding-bottom: 5px;
    width: 150px;
}